body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-areas: /* Definição das areas */ /* "" => definição de limhas */  /* " coluna-1 e coluna-2"*/
        "header header"
        "main aside"
        "footer footer";

        grid-template-rows: 30px 1fr/* conteudo flexivel*/ 40px; /* Definindo tamanhp das linhas*/
        grid-template-columns: 1fr 80px; /* Definindo tamanhp das colunas*/
} 

header {
    grid-area: header;
    background-color: green;
}

main {
    grid-area: main;
    background-color: rebeccapurple;
}

aside {
    grid-area: aside;
    background-color: blue;
}

footer {
    grid-area: footer;
    background-color: gray;
}